@use '../themes/theme';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin font-family {
  font-family: 'Montserrat', sans-serif;
}

// TODO: вынести цвета в классы
@mixin header-0 {
  @include font-family;
  font-size: 29px;
  line-height: 34px;
  font-weight: 700;
  font-style: normal;
  color: theme.$header-color;
}

@mixin header-0-primary {
  @include header-0;
  color: theme.$primary-color;
}

@mixin header-1 {
  @include font-family;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  color: theme.$header-color;
}

@mixin header-2 {
  @include font-family;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: theme.$header-color;
}

@mixin header-3 {
  @include font-family;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: theme.$header-color;
}

@mixin header-4 {
  @include font-family;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: theme.$header-color;
}

@mixin header-4-primary {
  @include header-4;
  color: theme.$primary-color;
}

@mixin text-2 {
  @include font-family;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: theme.$text-color;
}

@mixin text-3 {
  @include font-family;
  font-size: 12px;
  line-height: 14px;
  font-weight:lighter;
  font-style: normal;
}

@mixin text-4 {
  @include font-family;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  font-style: normal;
}

@mixin text-5 {
  @include font-family;
  font-size: 6px;
  line-height: 8px;
  font-weight: 400;
  font-style: normal;
}

.display-0-primary {
  @include header-0-primary;
}

.display-1 {
  @include header-1;
}

.display-2 {
  @include header-2;
}

.display-3 {
  @include header-3;
}

.display-4-primary {
  @include header-4-primary;
}

.text-2 {
  @include text-2;
}

.text-3 {
  @include text-3;
  color: theme.$text-color;
}