@use "../components/box";
@use "../base/size";
@use "../base/typography";
@use "../themes/theme";

.education-module-container {
  @include box.box-styled;
  padding: 21px;
  margin-bottom: 20px;
  display: flex;

  @include size.on-mobile {
    padding: 13px;
    margin-bottom: 10px;
    align-items: center;
  }

  .education-photo {
    content: "";
    display: inline-block;
    width: 148px;
    height: 148px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-image: theme.$primary-gradient;
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
      transform: scale(4);
    }

    @include size.on-pc {
      margin-right: 32px;
    }

    @include size.on-mobile {
      width: 90px;
      height: 90px;

      > img {
        transform: scale(2);
      }
    }
  }

  .education-card-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > div {
      @include size.on-mobile {
        margin-top: 2px;
      }
    }

    .education-card-description-title {
      @include typography.header-3;
      font-weight: 700;
      @include size.on-mobile {
        @include typography.header-4;
        font-weight: 700;
      }
    }

    .education-card-description-subtitle {
      @include typography.header-4;
      color: theme.$text-color;
      margin-top: 6px;

      @include size.on-mobile {
        @include typography.text-3;
      }
    }
  }
}
